.FilterBar_Container {
  height: 60px;
  margin-top: 97px;
  width: 100%;
  background-color: rgb(227, 236, 243);
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}



.FilterBar_Button_Container{
  width: 450px;
  height: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FilterBar_Button_div{
  width: 100px;
  border: none;
}


.FilterBar_Button {
  background-color: rgb(16, 77, 133);
  color: #ffffff;
  border: none;
  font-size: 15px;
  text-align: center;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  margin: auto;
}  

.FilterBar_Button:hover {
  background-color: rgb(66, 127, 183);
}  

.FilterBar_SearchBar_div{
  width: 300px;
  padding: 20px;
}


.FilterBar_SearchBar {
  width: 300px;
  height: 20px;
  border: none;
  border-radius: 30px;
  margin: auto;
  padding: 10px;
}
