/** @format */

.container {
  top: 0;
}
.code-group {
  background-color: #211e1e;
  overflow: hidden;
  margin-top: 0;
  top: 0;
}

.favorite-button {
  display: flex;
  padding: 7px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

div.code-editor {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #211e1e;
}
div.code-editor:hover {
  transform: scale(1.2);
}

.content-group {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0;
  background: #ffffff;
  flex-wrap: nowrap;
  top: 0;
}

.title {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: var(--dark-600, #151515);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description-container {
  margin-bottom: 1rem;
}
.description {
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  font-size: 20px;
  font-family: Arial;
  color: var(--dark-600, #151515);
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 37px;
}

.tags-container {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.tags-container {
  display: flex;
  padding: 0px 24px;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.tags {
  font-family: 'Arial';
  font-style: normal;
  font-size: 16px;
  background: var(--blue-500, #104d85);
  border-radius: 24px;
  width: max-content;
  font-weight: 400;
  padding: 8px 12px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: lightgray 50% / cover no-repeat;
}

.avatar-text {
  color: var(--dark-400, #757575);
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 22px;
  align-items: center;
  font-family: 'Arial';
  font-size: 20px;
  color: var(--blue-500, #104d85);
  text-decoration: none;
}

@media (max-width: 320px) {
  .title-container {
    display: flex;
  }
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
  .content-group {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 8px;
    padding: 16px;
  }
  .button-container {
    padding: 1px 12px;
  }
  .avatar-text {
    font-size: 14px;
  }
  .link-button {
    display: none;
  }

  div.code-editor:hover {
    transform: none;
  }
}
