.favorite-button {
  display: flex;
  padding: 7px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

div.code-editor {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #211e1e;
}
div.code-editor:hover {
  transform: scale(1.2);
}

.content-group {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  background: #ffffff;
  flex-wrap: nowrap;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  color: var(--dark-600, #151515);
}

.description {
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  font-size: 20px;
  font-family: Arial;
  color: var(--dark-600, #151515);
}

.tags-container {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.button-container {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  background: var(--blue-500, #104d85);
}

.tags {
  font-family: "Arial";
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
}

.card-footer {
  display: flex;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: lightgray 50% / cover no-repeat;
}

.avatar-text {
  color: var(--dark-400, #757575);
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
}

.link-button {
  padding: 22px;
  align-items: center;
  font-family: "Arial";
  font-size: 20px;
  color: var(--blue-500, #104d85);
}

/*.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 20px;
  gap: 6px;
  position: absolute;
  width: 36em;
  height: 38.4375em;
  left: 40;
  top: 33px;
  background: var(--white, #fff);
  border-radius: 8px;
  overflow: hidden;
}

 frame1
-----------------




.code-editor {
  position: absolute;
  width: 100%;
  height: 333px;
  left: 0px;
  top: 0px;
  border-radius: 8px 8px 0px 0px;
}





/* frame2
------------------------ 

.title-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 36em;
  height: 38px;
}


.description-container {
  display: flex;
  /*height: 120px;
  flex-direction: column;
  align-self: stretch;
  width: 36em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}






.info-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 36em;
  height: 56px;

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}


*/

@media (max-width: 320px) {
  .title-container {
    display: flex;
  }
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
  .content-group {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 8px;
    padding: 16px;
  }
  .button-container {
    padding: 1px 12px;
  }
  .avatar-text {
    font-size: 14px;
  }
  .link-button {
    display: none;
  }
  /* group2
--------------- 
  .content-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 17em;
  }
  .title {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

  /* Dark/600 */
  color: var(--dark-600, red);

  /* Inside auto layout 

    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .description-container {
    display: flex;

    flex-direction: column;
    align-self: stretch;
    width: 17em;
  }
}
*/
}
