.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  width: 80%;
  margin: 7rem auto 0;
}

.gallery-item {
  background-color: #ffffff;
  border-radius: 0.3rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

/* Media Query for devices with maximum width of 1024px */
@media (max-width: 1024px) {
  .gallery-item {
    max-width: 100%;
  }
}

/* Media Query for devices with maximum width of 768px */
@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr;
    width: 95%;
  }
}

/* Media Query for devices with maximum width of 480px */
@media (max-width: 479px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.gallery-item {
  max-width: 100%;
}

/*Media Query for devices with maximum width of 320px */
@media (max-width: 320px) {
  .gallery-container {
    padding: 0.5em;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .gallery-item {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    border-radius: 0.5em;
  }
}
