.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  width: 80%;
  margin: 20rem auto 0;
  z-index: -1;
}

.gallery-item {
  background-color: #ffffff;
  border-radius: 0.3rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.filter-nav {
  position: fixed;
  top: 95px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #e3ecf3;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
}

.tags-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-filter p {
  color: #042d54;
  margin-right: 15px;
}

.select-tags {
  height: 35px;
  margin-right: 15px;
  border-radius: 8px;
  padding: 0 5px;
}

.showntags-list {
  display: flex;
  gap: 10px;
}

.showntag-item {
  color: #ffffff;
  background-color: #104d85;
  padding: 5px 10px;
  border-radius: 15px;
}

.search {
  display: flex;
}

.apply-filter-btn {
  color: #ffffff;
  background-color: #104d85;
  margin-right: 8px;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
}

.apply-filter-btn:hover {
  cursor: pointer;
  background-color: #427fb7;
}

.search-input-wrapper {
  position: relative;
}

.search-input {
  border: none;
  border-radius: 16px;
  padding: 8px;
  text-align: center;
}

.clear-search-btn {
  background: none;
  position: absolute;
  top: 8px;
  right: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.clear-search-btn:hover {
  transform: scale(1.5);
}

.filter-options {
  position: fixed;
  top: 160px;
  right: 0px;
  left: 0px;
  background-color: #104d85;
  padding-left: 100px;
  z-index: 1;
}

.filter-options button {
  font-size: 16px;
  color: #ffffff;
  border: none;
  padding: 15px;
  background-color: #104d85;
}

.filter-options button.highlighted {
  border-bottom: 5px solid white;
}

.delete-tag-btn {
  margin-left: 10px;
}

.snippet-gallery-container {
  margin-top: 200px;
}

/* Media Query for devices with maximum width of 1024px */
@media (max-width: 1024px) {
  .gallery-item {
    max-width: 100%;
  }
}

/* Media Query for devices with maximum width of 768px */
@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr;
    width: 95%;
  }
}

/* Media Query for devices with maximum width of 480px */
@media (max-width: 479px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.gallery-item {
  max-width: 100%;
}

/*Media Query for devices with maximum width of 320px */
@media (max-width: 320px) {
  .gallery-container {
    padding: 0.5em;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .gallery-item {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    border-radius: 0.5em;
  }
}
