.NavbarForTags{
    height: 50px;
    margin-top: 95px;
    width: 100%;
    background-color: aquamarine;
    padding: 0px;   
}

.TagsDisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
}