.inputWrapper {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input,
.textarea {
  width: 100%;
  padding: 16px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: 0.5s;
  outline: none;
  resize: none;
}

.input:focus,
.input:hover,
.textarea:hover,
.textarea:focus {
  border: 2px solid #c3d9ed;
}

.input::placeholder,
.textarea::placeholder {
  font-size: 20px;
  font-family: Arial;
  font-weight: 400;
  line-height: 23px;
  color: #757575;
}

/* @media screen and (min-width: 481px) and (max-width: 780px) {
  .input,
  .textarea {
    width: 450px;
  }
}

@media screen and (min-width: 781px) {
  .input,
  .textarea {
    width: 772px;
  }
} */
.span {
  font-size: 20px;
  font-family: Arial;
  font-weight: 400;
  line-height: 23px;
  color: #042d54;
  margin-bottom: 8px;
}
