.formWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  row-gap: 1rem;
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input,
.textarea {
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: o.5rem;
  transition: 0.5s;
  outline: none;
  resize: none;
}

.input:focus,
.input:hover,
.textarea:hover,
.textarea:focus {
  border: 2px solid #c3d9ed;
}

.input::placeholder,
.textarea::placeholder {
  font-size: 20px;
  font-family: Arial;
  font-weight: 400;
  line-height: 23px;
  color: #757575;
}

.span {
  font-size: 20px;
  font-family: Arial;
  font-weight: 400;
  color: #042d54;
}

.inputWrapper label {
  padding: 0;
  margin: 0;
}
