.container {
  width: 100%;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  letter-spacing: 0.06em;
  line-height: 2;
}

.heading1 {
  margin: auto;
  font-size: 60px;
  text-align: center;
}

.paragraph {
  text-align: center;
  margin: 30px auto;
  width: 80%;
}

/* Mentors container styles */
.mentorslistWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.mentorslist {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  z-index: -1;
}

.mentors {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mentorname {
  text-align: center;
  width: 60%;
  color: #c3d9ed;
  font-size: 25px;
  line-height: 30px;
}

/* Teams container styles */
.teamWrapper {
  width: 100%;
  margin: auto;
  background-color: #efefef;
  padding: 20px 0;
  position: relative;
  z-index: -1;
}

.teamWrapper .heading1 {
  color: #293a7d !important;
}

.teamList {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

.sliderIntro {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderIntro .paragraph {
  justify-content: center;
  color: #293a7d !important;
}

.slider {
  flex: 2;
  width: 100%;
}

.member {
  border: none;
  text-align: center;
  margin: 10px;
  color: #293a7d !important;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Styles for diffrent screen size */
@media screen and (max-width: 650px) {
  .container {
    width: 100%;
    margin-top: 120px;
    align-items: center;
    line-height: 1.5;
  }

  .heading1 {
    font-size: 40px;
  }

  .slider {
    width: 100%;
  }

  .teamWrapper {
    padding-bottom: 170px;
  }

  .teamList {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }

  .sliderIntro .paragraph {
    margin-top: 10px;
  }
}
