
:root {
  --main-color: #042D54;
  --additional-color-1: #104D85;
  --additional-color-2: #C3D9ED;
  --additional-color-3: #F2F9FF;
  --additional-color-4: #151515;

  --max-width: 1000px;
  --border-radius: 5px;
  --font-mono: Roboto;

  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

body {
  font-size: 20px;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--main-color);
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--additional-color-2)
}


h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--additional-color-4);
}