@import url(https://fonts.googleapis.com/css?family=Anton);

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #427fb7; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #427fb7; }
  }

  .home-container {
    text-align: center;
    display: flex;
    align-content: space-around;
  }
  
  .start-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #427fb7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }

  .start-btn:hover {
    background-color: #0056b3;
    transition: 0.4s;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Anton';
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  