.container {
  padding: 60px 40px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 120px 80px;
  }
}

.title {
  font-family: "RobotoFlex";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #042d54;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 68px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.wrapperBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .wrapperBtns {
    flex-direction: row;
    gap: 20px;
  }
}

.cancelBtn {
  background-color: #ffffff;
  font-family: "RobotoFlex";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding: 12px 123px;
  border: none;
  border-radius: 8px;
  color: #104d85;
}
@media screen and (min-width: 768px) {
  .cancelBtn {
    padding: 12px 16px;
  }
}

.cancelBtn:hover,
.cancelBtn:focus {
  background-color: #e3ecf3;
}

.submitBtn {
  background-color: #104d85;
  font-family: "RobotoFlex";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding: 12px 123px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .submitBtn {
    padding: 12px 16px;
  }
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: #042d54;
}
