
.button {
    background-color: rgb(4, 45, 84);
    color: #ffffff;
    border: none;
    font-size: 15px;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }
  .button:hover {
    background-color: #427fb7;
  }