
.button {
    background-color: #104d85;
    color: #ffffff;
    border: none;
    font-family: "Arial";
    font-size: 15px;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 8px;
  }
  .button:hover {
    background-color: #427fb7;
  }