.login-btn {
  height: 10px;
  border-radius: 12px;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 16px;
  color: #104d85;
}

.login-btn:hover .icon {
    color: #427fb7;
}
  
  .login-btn .icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .login-btn:hover .icon {
    color: #ffffff;
  }
