.container {
  position: relative;
  width: 100%;
  background-color: white;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.menuButton {
  margin-right: 50px;
  background: none;
  color: rgb(4, 45, 84);
  border: none;
  cursor: pointer;
  padding: 20px;
}

.FaBars {
  padding: 5px;
  color: rgb(4, 45, 84);
}

.FaSpaceShuttle,
.FaUser {
  display: flex;
  padding: 5px;
}

.FaSpaceShuttle:hover,
.FaUser:hover,
.FaSnippet:hover,
.CreateSnippet:hover {
    transform: translateX(1px);
    background-color: rgb(4, 45, 84);
    color: white;
    border-radius: 8px;

}

.menuIcon {
  display: block;
  width: 25px;
  height: 3px;
  transition: transform 0.3s ease;
}

.menuIcon.open {
  transform: rotate(45deg);
}

.menu {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  background: #eee;
  transition: transform 0.3s ease;
  transform-origin: top right;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;

}

.menu.open {
  width: 180px;
  color: rgb(4, 45, 84);
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 20px;
  margin: 10px;
  transform: scaleY(1);
  visibility: visible;
  opacity: 1;
  border-radius: 10px;
}


.menu.open li {
  width: 120px;
  padding: 5px;
  margin: 5px 30px;
}
