.footer {
  background-color: #ffffff;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  color: #104d85;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  padding: 0 80px;
}

.footer-content a {
  text-decoration: none;
  color: #104d85;
}

.footer-content a:hover {
  color: #427fb7;
}

.footer-content h4 {
  margin-bottom: 3px;
  font-size: 16px;
  /* text-align: center; */
}

.footer-content p {
  margin-bottom: 10px;
  color: #104d85;
  font-size: 13px;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-bottom {
  background-color: #ffffff;
  padding: 0px;
  text-align: center;
  font-size: 10px;
}

/* Responsive design */
/* Tablet */

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-content {
    flex-basis: 50%;
    padding: 0 30px;
    flex-direction: column;
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .footer-content {
    flex-basis: 80%;
    padding: 0 20px;
    flex-direction: column;
  }
}
