/* Styles for snippet ID page */
.container {
  margin-top: 95px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.title-container {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.snippets-title {
  flex-grow: 2;
}
.buttons {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
}
.buttons li {
  display: list-item;
}

.buttons .edit-button {
  font-size: 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4px;
  min-width: 70px;
  height: 35px;
  align-self: stretch;
  flex-shrink: 0;
}
button.edit-button::before {
  content: '\1F589';
  display: inline-block;
  margin-right: 5px;
  font-family: Arial, sans-serif;
}

.buttons .like-button {
  width: auto;
  padding: 4px;
  background-color: #ffcfcf;
  border-radius: 5px;
  height: 35px;
}

.snippet-description {
  padding-left: 80px;
  max-width: 60%;
}

.code-snippet {
  left: 0;
  right: 0;
  margin: 0 auto;
}
