body {
  background-color: #104d85;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 75px;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #042d54;
}

.tags {
  margin-top: 10px;
  color: #F2F9FF;
  background-color:#104d85 ;
  max-width: fit-content;
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 15px;
}

.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 120px; 
  margin-right: 10px;
}

.buttons li {
  list-style: none;
}

.buttons li a {
  text-decoration: none;
}

.edit-button,
.like-button {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 35px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #104d85;
  background-color: white;
}

.edit-button:hover,
.like-button:hover {
  transform: scale(1.09);
  background-color: #104d85;
  color: white;
}

.like-button {
  font-size: 22px;
  width: 40px;
  background-color: #f18686;
}

.code-snippet {
  margin: 0 200px 10px 200px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-size: 20px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .code-snippet {
    margin: 0 20px 10px 20px;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 90px;
  }

  .details-container {
    padding: 10px;
  }

  .edit-button,
  .like-button {
    width: 60px;
    height: 30px;
    font-size: 12px;
  }

  .snippet-description {
    padding: 10px;
  }
}
